body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:var(--color-yellow);
}

.carts{
background-image: url(/imagenes/library.jpg);
background-repeat: no-repeat;
background-size: auto;
padding: 70px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: var(--color-white);
    padding: 4px;
}

#cartList {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

li:last-child {
    border-bottom: none;
}

@media screen and (max-width: 600px) {
    ul {
        width: 90%;
    }
}