body {
    background-color: var(--color-yellow);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    
}
.comment{
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--color--tierra);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--color-black);
    font-size: 17x;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-gray-ligth);
    box-sizing: border-box;
}

.form-group textarea {
    height: 150px;
}

.form-group input[type="submit"] {
    background-color: var(--color-blue);
    color: var(--color-black);
    border: none;
    padding: 18px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form-group input[type="submit"]:hover {
    background-color: var(--color--tierra);
    color: var(--color-white);
}


#table_comments {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#table_comments th,
#table_comments td {
    border: 1px solid var(--color-gray-ligth);
    padding: 8px;
}

#table_comments th {
    background-color: var(--color-white);
    color: var(--color-black);
}

#table_comments td {
    background-color: var(--color-white);
}

#table_comments tr:nth-child(even) {
    background-color: var(--color-gray-ligth);
}

#table_comments tr:hover {
    background-color: var(--color--tierra);
    color: var(--color-white);
    cursor: pointer;
}